.banner {
  padding: 150px 0;
  margin: 24px 0;
  color: white;
  background-size: cover;
}

.banner h1 {
  margin: 0;
  font-size: 40px;
}

.banner p {
  font-size: 20px;
  margin-top: 0px;
  font-weight: lighter;
}